#homeButton {
  background-color: lightblue;
}

#homeButton:hover {
    background-color: lightblue;
}

#homeButton:active {
  background-color: lightblue;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

h2 {
	text-align: center;
    font-family: "Courier New";
    font-size: 3.5em;
    font-weight: bold;
}

#mySelect {
    width: 100%;
}

/*  #warnTable {
  
} 
*/
#warnButton1, #warnButton2, #warnButton3, #warnButton4, #warnButton5 {
    border: 15px solid red;
    text-align: center;
    padding: 30px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    font-family: "Courier New";
    border-collapse: collapse;
    width: 100%;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

#warnButton:hover {
    background-color: red;
    color: white;
    opacity: 1;
}

#warnButton:active {
  background-color: #fcfbb8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



#send-via-option {
    font-family: "Courier New";
    font-size: 2.5em;
    font-weight: bold; 
    vertical-align: middle; 

}

#send-to-option {
    font-family: "Courier New";
    font-size: 2.5em;
    font-weight: bold; 
    vertical-align: middle; 

}

.send-via-group input {
    vertical-align: middle; 
    width: 20px;
    height: 20px;
}

.yes-no-button button {
    background-color: black;
    font-family: "Courier New";
    font-size: 3.0em;
    font-weight: bold;
    width: 20%;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}

.yes-no-button button:hover {
    background-color: red;
}

.yes-no-button button { 
    margin-right:100px;
}

.yes-no-button button:last-child {
    margin-right:0px;
}
