/*  div {
	float: left;
} */

 #real {
 	float: left;
    background-color: white;
    width: 400px;
    border: 25px solid red;
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-family: "Courier New";
    font-size: 2.5em;
    font-weight: bold;
}

#real:hover {
    background-color: red;
    color: white;
}

 #drill {
 	float: right;
    background-color: white;
    width: 400px;
    border: 25px solid green;
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-family: "Courier New";
    font-size: 2.5em;
    font-weight: bold;
}

#drill:hover {
    background-color: green;
    color: white;
}