/*  div {
	float: left;
} */

 #real {
 	float: left;
    background-color: white;
    width: 400px;
    border: 25px solid red;
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-family: "Courier New";
    font-size: 2.5em;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

#real:hover {
    background-color: red;
    color: white;
    opacity: 1;
}

#real:active {
  background-color: #fcfbb8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 #drill {
 	float: right;
    background-color: white;
    width: 400px;
    border: 25px solid green;
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-family: "Courier New";
    font-size: 2.5em;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
}

#drill:hover {
    background-color: green;
    color: white;
    opacity: 1;
}

#drill:active {
  background-color: #fcfbb8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}